.pull-right {
    float:right;
}

h1.two, h4.ingre, h4.egre {
    border-style: solid;
    border-width: thin;
  }

  .vertical {
    border-left: 1px solid black;
    height: 200px;
    position:absolute;
    left: 50%;
  }

  #porcentajeGasto{
      margin-top: 13px;
      float: right;
      background-color: #28303c;
  }


  body,
        h1 {
            font-family: "Raleway", Arial, sans-serif;
            font-weight: bold;
        }

        h1 {
            letter-spacing: 6px
        }

        .w3-row-padding img {
            margin-bottom: 12px   
        }

.imagen1 {
    background-image: url(../img/background.jpg);
}

/*Estilo al tag general de select*/
select {
    background-color: white;
    border: thin solid blue;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
  
    /* Reseteamos al estilo original */
  
    margin: 0;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

/*Estilo especifico al tag del select con id menu por si agrego otro dropdown... para cambiar egresos e ingresos en el otro lado*/
#menu {
    background-image:
      linear-gradient(45deg, transparent 50%, gray 50%),
      linear-gradient(135deg, gray 50%, transparent 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position:
      calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px),
      calc(100% - 2.5em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
    display: inline-block;
  }
  
  #menu:focus {
    background-image:
      linear-gradient(45deg, green 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, green 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position:
      calc(100% - 15px) 1em,
      calc(100% - 20px) 1em,
      calc(100% - 2.5em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
    border-color: green;
    outline: 0;
  }

  #transaccion{
    display: inline-block;
    margin-left: 250px;
  }
