.pull-right {
    float:right;
}

h1.two, h4.ingre, h4.egre {
    border-style: solid;
    border-width: thin;
  }

  .vertical {
    border-left: 1px solid black;
    height: 200px;
    position:absolute;
    left: 50%;
  }


  body,
        h1 {
            font-family: "Raleway", Arial, sans-serif;
            font-weight: bold;
        }

        h1 {
            letter-spacing: 6px
        }

        .w3-row-padding img {
            margin-bottom: 12px   
        }

.imagen1 {
    background-image: url(../img/background.jpg);
}