.pull-right {
    float: right;
}

h1.two,
h4.ingre,
h4.egre {
    border-style: solid;
    border-width: thin;
}

h4.ingre {
    background-color: darkblue;
    color: white;
}

#boton{
background-color: darkblue;
color: white;
}

#agregar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

h3.w3-xlarge,
h3.cambiar{
    color: darkblue;
}

#header p, #Egresos ul, #Ingresos ul {
    display: inline;
    list-style-type:none;
}

.vertical {
    border-left: 1px solid black;
    height: 200px;
    position: absolute;
    left: 50%;
}

#porcentajeGasto {    
    display: inline;
    margin: 13px;
    float: right;
    background-color: darkblue;
    color: white;
}

#porcentajeEgreso {
    transform: translate(0px,-21px);
    float: right;
    background-color: darkblue;
    color: white;
}

body,
h1 {
    font-family: "Raleway", Arial, sans-serif;
    font-weight: bold;
    color: darkblue;
}

h1 {
    letter-spacing: 6px
}

.w3-row-padding img {
    margin-bottom: 12px
}

.imagen1 {
    background-image: url(../img/Fondo1.jpg);
    height: 600px;
    background-position: center;
}

/*Estilo al tag general de select*/
select {
    background-color: white;
    border: thin solid blue;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;

    /* Reseteamos al estilo original */

    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}

/*Estilo especifico al tag del select con id menu por si agrego otro dropdown... para cambiar egresos e ingresos en el otro lado*/
#menu {
    background-image:
        linear-gradient(45deg, transparent 50%, gray 50%),
        linear-gradient(135deg, gray 50%, transparent 50%),
        linear-gradient(to right, #ccc, #ccc);
    background-position:
        calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px),
        calc(100% - 2.5em) 0.5em;
    background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
    background-repeat: no-repeat;
    display: inline-block;
}

#menu:focus {
    background-image:
        linear-gradient(45deg, green 50%, transparent 50%),
        linear-gradient(135deg, transparent 50%, green 50%),
        linear-gradient(to right, #ccc, #ccc);
    background-position:
        calc(100% - 15px) 1em,
        calc(100% - 20px) 1em,
        calc(100% - 2.5em) 0.5em;
    background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
    background-repeat: no-repeat;
    border-color: green;
    outline: 0;
}

#transaccion {
    display: inline-block;
    margin-left: 250px;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* El estilo de los botones*/
.tab button {
    background-color: dimgray;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: white;
}

/* estilo para el contenido de los tab */
.contenido {
    display: none;
    padding: 6px 12px;
    border: 1px #ccc;
    border-top: none;
    border-style: solid;
    border-width: thin;
}

/* para generar el activo en la pestaña actual */
.tab button.active {
    background-color: darkblue;
}

/* cambia tonalidad al pasar el click encima */
.tab button:hover {
    background-color: #ddd;
}
